* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.drop-down {
    position: relative;
}

.drop-down ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
}

.drop-down:has(button:hover) ul {
    display: initial;
}
