.image-slider {
    width: max-content;
}

.image-display {
    overflow: hidden;
    width: 640px;
    height: 427px;
    position: relative;
}

.image-container {
    position: absolute;
    left: 0px;
    transition: left 500ms;
}

.image-container img {
    position: absolute;
    transition: left 500ms;
}

.image-display .back,
.image-display .forward {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 4px;
}

.image-display .forward {
    right: 0;
}

.image-slider .navigation {
    text-align: center;
}
