:root {
    --main-color: rgb(122, 53, 250);
    --second-color: rgb(29, 158, 190);
    --gray-color: rgba(214, 214, 214, 0.835);

    font-size: 20px;
}

* {
    padding: 0px;
    margin: 0px;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    background-color: var(--main-color);
    color: white;
    padding: 32px;
    padding-left: 48px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 32px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 8px;
    font-size: 1.2rem;
}

.sidebar li:hover {
    background-color: white;
    color: var(--main-color);
    cursor: pointer;
}

.content {
    display: flex;
    flex-flow: column nowrap;
}

.search-bar,
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
}

.search-bar input {
    background-color: var(--gray-color);
    font-size: 1.1rem;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    outline: none;
}

.search-bar input:focus {
    outline: 3px solid var(--second-color);
}

.search-bar > div > span,
.nav-bar > .greeting > .big {
    font-weight: bold;
    font-size: 1.1rem;
}

.notifs {
    display: flex;
    gap: 32px;
}

.greeting {
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
}

.greeting .small {
    font-weight: bold;
    font-size: 0.8rem;
}

.nav-buttons button {
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 4px;
    border: 0px;
    background-color: var(--main-color);
    color: white;
}

.nav-buttons button:hover {
    background-color: white;
    color: var(--main-color);
    outline: 3px solid var(--main-color);
}

.nav-buttons {
    display: flex;
    gap: 32px;
}

.nav-bar {
    border-bottom: 3px groove var(--gray-colors);
}

.main-area {
    background-color: var(--gray-color);
    padding: 32px;
    padding-top: 64px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 0.8fr 0.8fr;
    gap: 64px 32px;
}

.title {
    position: absolute;
    top: -40px;
}

.announcements > .title,
.trending > .title {
    left: 0%;
}

.projects {
    position: relative;
    grid-row: span 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 32px;
}

.card {
    position: relative;
    background-color: white;
    padding: 16px 32px 32px 16px;
    border-radius: 8px;
    border-left: 5px solid var(--second-color);
}

.card > p {
    font-size: 0.9rem;
}

.card::after {
    content: "⭐ 👁 🔌";
    letter-spacing: 0.2rem;
    position: absolute;
    bottom: 5%;
    right: 3%;
}

.announcements,
.trending {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    gap: 16px;
    justify-content: space-between;
    background-color: white;
    padding: 32px;
    border-radius: 8px;
    min-width: 250px;
}

.delimiter {
    border-bottom: 1px groove lightgray;
}

.announce > p,
.user > p  {
    font-size: 0.8rem;
}

.user,
.announce {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 8px;
}

.tag {
    color: var(--second-color);
}