body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 200px 1fr;
}

:root {
    --main-color: rgb(20, 133, 255);
    --second-color: rgb(255, 74, 161);
    --background-color: rgb(232, 232, 232);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.sidebar {
    grid-row: 1/3;
    display: flex;
    flex-flow: column nowrap;
    gap: 48px;
    padding: 24px;
    background-color: var(--main-color);
    z-index: 2;
}

.sidebar .section {
    display: flex;
    flex-flow: column nowrap;
}

.sidebar .section>div,
.sidebar .logo {
    padding: 12px;
    font-size: 26px;
    color: white;
    font-weight: bold;
}

.sidebar .section>div:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.sidebar .logo {
    font-size: 32px;
}

.header {
    z-index: 1;
    box-shadow: 0 2px 6px gray;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
}

.header>div {
    padding: 16px 48px;
    font-size: 24px;
}

.avatar {
    background-color: var(--second-color);
    border-radius: 50%;
    padding: 6px 9px;
    margin-right: 8px;
    font-size: 28px;
}

.header .profile {
    white-space: nowrap;
    font-weight: bold;
}

.header .search {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header input {
    flex: 1;
    margin-right: 48px;
    border: 0px;
    background-color: var(--background-color);
    border-radius: 16px;
    padding: 8px 12px;
    font-size: 18px;
}

.header .notification {
    display: flex;
    flex-flow: row nowrap;
    gap: 32px;
    justify-content: flex-end;
    align-items: center;
}

.header .greeting {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
    align-items: center;
}

.header .greeting .text {
    display: flex;
    flex-flow: column nowrap;
    font-weight: bold;
    font-size: 28px;
    white-space: nowrap;
    gap: 6px;
}

.header .pre {
    font-size: 18px;
}

.header .greeting .avatar {
    font-size: 48px;
    padding: 8px 14px;
}

.header .controls {
    display: flex;
    gap: 32px;
    justify-content: flex-end;
}

.header button {
    font-size: 20px;
    padding: 8px;
    flex: 1;
    border: 0px;
    border-radius: 24px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
}

.header button:hover {
    background-color: white;
    color: var(--main-color);
    outline: 1px solid black;
}

.main-container {
    background-color: var(--background-color);
}