* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-size: 24px;
    --main-color: #fa8f00;
}

body {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
    overflow: hidden;
}


.sidebar {
    height: 100%;
    position: relative;
}


.sidebar img {
    height: 100%;

    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.sidebar .attribution,
.sidebar .logo {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 10%;
    padding: 4px;
    color: white;
    background-color: #101010b0;

    font-size: 1.6rem;
}

.sidebar .attribution {
    top: initial;
    bottom: 0;
}

.sidebar a {
    color: lightgray;
}

.main-content {
    flex: 1;
    padding-top: 10%;
    padding: 10% 3rem 0;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    font-size: 1.6rem;
}

.main-content p {
    text-align: justify;
}

.main-content input,
.main-content button {
    font-size: 1.6rem;
}

.main-content button {
    align-self: flex-start;
    background-color: var(--main-color);
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.main-content button:hover {
    background-color: black;
    color: var(--main-color);
    cursor: pointer;
}

.main-content form {
    display: flex;
    flex-flow: row wrap;
    gap: 1.4rem;
}

form label {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

.main-content #login {
    color: var(--main-color);
    text-decoration: none;
    border-radius: 4px;
    padding: 4px;
}

.main-content #login:hover {
    color: black;
    background-color: var(--main-color);
}




