* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Roboto", monospace;
    font-size: 24px;

    --text-color: #ffff;
    --primary-color: #2392DB;
    --primary-light-color: #23b6db;
    --secondary-color: #A6AEB3;
    --secondary-light-color: #efefef;
}

body {
    background: linear-gradient(to top, var(--primary-color), var(--primary-light-color));

    width: 100vw;
    min-height: 100vh;
}

/* #region header */

header {
    color: var(--text-color);

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding: 0.8rem 2rem;
}

header .search-wrapper {
    grid-column: 2;
    justify-self: center;
    display: flex;
    gap: 0.6rem;
    align-items: center;
}

header #search {
    border: none;
    outline: none;
    border-radius: 1rem;

    font-size: 1rem;
    padding: 0.2rem 0.8rem;
}

header .degree-select {
    justify-self: flex-end;
    display: flex;
    gap: 1rem;
}

header .degree-select input[type="radio"] {
    display: none;
}

header .degree-select>label {
    background-color: var(--text-color);
    color: var(--primary-color);

    padding: 0.2rem 1rem;
    border-radius: 1rem;
}

header #search:focus {
    outline: 3px solid var(--text-color);
    outline-offset: 0.1rem;
}

header .degree-select>label:hover {
    filter: brightness(90%);
    cursor: pointer;
}

header .degree-select>label:has(input[type="radio"]:checked) {
    background-color: var(--primary-color);
    color: var(--text-color);
    outline: 3px solid var(--text-color);
}

/* #endregion header */

/* #region main */

main {
    display: flex;
    justify-content: center;
}

main .container {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

main .container .city,
main .today .date {
    align-self: center;
    text-align: center;
    color: var(--text-color);
}

main .container .date {
    margin-bottom: 0.4rem;
}

main .container .card {
    display: flex;
    gap: 0.5rem;
}

main .today .brief,
main .container .hourly {
    background-color: var(--text-color);
    border-radius: 1rem;
    padding: 1rem;
}

main .container .brief {
    align-self: center;
}

main .brief .degrees {
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
}

main .brief .info {
    font-size: 1.4rem;
}

main .hourly .field {
    display: flex;
    justify-content: space-between;

    padding: 0.5rem 0rem;
    border-bottom: 1px solid var(--secondary-color);
}

main .hourly .field:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
}

main .field .hour {
    margin-right: 4rem;
}

main .field .degrees {
    margin-left: 0.4rem;
    font-weight: bold;
}

main .tommorow .date {
    color: var(--text-color);
}

/* #endregion main */