* {
    margin: 0px;
    padding: 0px;
}

:root {
    --main-color: wheat;
    --background-color: gray;

    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

#content {
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#content > div {
    display: flex;
    justify-content: center;
}

.title {
    padding: 16px;
    background-color: var(--background-color);
    color: var(--main-color);
}

.description {
    flex: 1;
    background-color: var(--main-color);
    padding: 16px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 32px;
}

.tabs {
    background-color: var(--main-color);
    border-bottom: 8px solid var(--main-color);
    display: flex;
    gap: 8px;
}

.tabs > button {
    flex: 1;
    background-color: var(--background-color);
    border: 0px;
    font-size: 0.8rem;
    padding: 8px;
    color: var(--main-color);
}

.tabs > button:hover {
    color: black;
    background-color: var(--main-color);
    outline: 5px solid var(--background-color);
}

.tabs > button.chosen::before {
    content: "--> ";
}

.tabs > button.chosen::after {
    content: " <--";
}

.attribution {
    padding: 4px;
    background-color: var(--background-color);
}

.attribution > a {
    color: var(--main-color);
}