* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: 16px;
}

body {
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100vh;
}

#header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 3rem;

    background-image: url("./pie-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#header span {
    align-self: center;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px black;
    padding: 2.4rem;
}

#header ul {
    display: flex;
    list-style: none;
    gap: 3rem;
}

#header ul li {
    font-size: 2rem;
    font-weight: bold;
}

#header ul button {
    font-size: inherit;
    text-shadow: 2px 2px black;
    font-weight: inherit;
    background-color: steelblue;
    border: 0;
    color: white;
    padding: 18px;
    transition: padding-bottom 300ms;
}

#header ul button:hover {
    background-color: darkblue;
    padding-bottom: 2rem;
}

#content {
    flex: 1;
}