* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.header {
    font-weight: bold;
    font-size: 36px;
    box-shadow: 0px 0px 4px gray;
    padding: 24px;
    padding-left: 64px;
    z-index: 1;
    position: relative;
}

.library {
    background-color: rgb(240, 240, 240);
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

.library .add-button {
    margin: 24px;
    align-self: center;
    border: 0px;
    padding: 16px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 8px;
    background-color: rgb(230, 230, 230);
}

.library .add-button:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.library .book-cards {
    padding: 64px;
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 32px;
}

.library .book {
    display: flex;
    flex-flow: column nowrap;
    padding: 28px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 2px 2px 4px darkgray;
    max-width: fit-content;
    gap: 18px;
    font-size: 24px;
}

.book>span {
    display: flex;
    align-items: center;
    gap: 8px;
}

.book>span textarea {
    flex: 1;
    font-size: 1em;
    padding: 4px;
    font-weight: 500;
}

.book button {
    border: 0px;
    padding: 12px;
    font-size: 0.9em;
    font-weight: 500;
    border-radius: 8px;
    background-color: rgb(230, 230, 230);
}

.book #remove-book {
    background-color: rgb(255, 111, 111);
}

.book button:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.book>span textarea:disabled {
    border: 0;
    color: black;
    resize: none;
}