:root {
    --main-color: rgb(155, 155, 155);

    font-size: 20px;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100vh;
}

.header {
    padding: 32px;
    align-self: stretch;
    background-color: var(--main-color);
    text-align: center;
    color: white;
}

.wrapper {
    position: relative;
    padding: 32px;
    display: flex;
    flex-flow: column nowrap;
    gap: 32px;
}

button.add {
    align-self: center;
    font-size: 1.2rem;
    background-color: var(--main-color);
    border: 0px;
    border-radius: 4px;
    padding: 8px;
    color: white;
}

button.add:hover,
.remove:hover {
    background-color: white;
    color: var(--main-color);
    outline: 3px solid var(--main-color);
}

.container {
    width: 80vw;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.book {
    min-width: 250px;
    background-color: white;
    color: black;
    font-size: 1.1rem;
    border: 3px solid var(--main-color);
    border-radius: 8px;
    padding: 32px;
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
}

.status.not-read,
.status.read,
.remove,
button[type="button"] {
    font-size: 1.1rem;
    padding: 4px;
    border: 0px;
    border-radius: 4px;
    color: white;
}

.status.not-read {
    background-color: rgba(207, 0, 0, 0.726);
}
.status.not-read::after {
    content: " no";
}

.status.read {
    background-color: rgba(55, 195, 0, 0.753);
}
.status.read::after {
    content: " yes";
}

.status:hover {
    filter: brightness(80%);
}

.remove {
    background-color: var(--main-color);
}

.delimiter {
    border-bottom: 1px groove var(--main-color);
}

form {
    position: fixed;
    top: 30%;
    right: calc(50% - 517px / 2);

    color: white;
    background-color: var(--main-color);
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
    padding: 16px;
    border: 3px solid var(--main-color);
    border-radius: 8px;
    gap: 16px;
}

form > div {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

form label {
    font-size: 1.4rem;
}

form input {
    font-size: 1.2rem;
}

input[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem;
}

button[type="button"] {
    background-color: white;
    color: gray;
    font-size: 1.2rem;
    padding: 8px;
}

button[type="button"]:hover {
    background-color: var(--main-color);
    color: white;
    outline: 3px solid white;
}


.buttons {
    display: flex;
    justify-content: space-around;
}

.book label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book input {
    width: 100%;
    margin-left: 4px;
    padding: 2px;
    font-size: 1.1rem;
    border: 0px;
    outline: 1px solid black;
    border-radius: 4px;
}

.book input:disabled {
    color: black;
    outline: 0px;
}