.text-center {
    text-align: center;
}

.mtb-4r {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.mb-0 {
    margin-bottom: 0;
}

.border-left-azure-600 {
    border-left-color: var(--pico-color-azure-600);
}
