* {
    text-align: center;
}

h1 {
    color: skyblue;
    background-color: black;
}

a {
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;
    
}

li {
    margin: 10px;
}