body {
    display: flex;
    flex-flow: row nowrap;
    gap: 32px;
}

body > div {
    flex: 1;
}

img {
    width: 600px;
    height: auto;
}

.links ul,
.links h2 {
    padding-left: 16px;
}

.links ul {
    font-size: 24px;
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
}

.links a {
    color: darkblue;
}

.content li {
    margin-bottom: 4px;
}

