#return-link {
    font-size: 18px;
    color: indigo;
}

body,
div,
img {
    width: 700px;
}

body {
    margin: 0 auto;
    background-color: aliceblue;
}

div {
    background-color: skyblue;
    padding: 0 20px 10px;
}

img {
    height: auto;
    margin: 10px auto;
}

p,
ol,
ul {
    font-size: 20px;
}

a {
    color: blueviolet;
}

h1 {
    margin: 0 auto 10px;
    color: skyblue;
    background-color: black;
    text-align: center;
}

h2 {
    color: blue;
}

strong {
    color: darkorange;
}