body {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

h1 {
    font-size: 40px;
}

ul {
    padding: 0px;
    font-size: 24px;
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    align-items: center;
}

a {
    color: darkblue;
}