body {
    margin: 0px;
}

a {
    color: white;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-flow: column nowrap;
    gap: 32px;
    background-color: darkslateblue;
    flex: 1;
    padding: 8px 64px 16px;
}

.top-side {
    display: flex;
    justify-content: space-between;
}

.bottom-side {
    display: flex;
    justify-content: space-between;
}

.description {
    width: 250px;
}

.placeholder-image {
    width: 250px;
    background-color: gray;
}

.information-block {
    background-color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 64px 0px;
    margin-bottom: 16px;
}

.information-content {
    display: flex;
    flex-flow: column nowrap;
    gap: 32px;
}

.information-content span {
    text-align: center;
}

.item-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 32px;
}

.item {
    height: 200px;
    width: 100px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.item span {
    text-align: center;
}

.rounded-box {
    width: 100px;
    height: 100px;
    border: 1px solid blue;
}

.good-review {
    flex: 1;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 64px 0px;
    margin-bottom: 16px;
}

.review-content {
    width: 400px;
    display: flex;
    flex-flow: column nowrap;
}

.author {
    align-self: flex-end;
}

.promotion {
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 64px 0px
}

.promotion-content {
    background-color: blue;
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-bottom: 16px;
}

.text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.text p {
    margin: 0px;
}

.footer {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 64px 0px
}