body {
    margin: 0px;
    font-size: 28px;
}

p,
span {
    color: white;
}

a {
    color: #e5e7eb;
    font-size: 16px;
}

button {
    background-color: #3882f6;
    color: white;
    font-size: 14px;
    width: 100px;
    height: 20px;
    border: 1px solid white;
    border-radius: 4px;
}

.small-text {
    font-size: 14px;
    color: #e5e7eb;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-flow: column nowrap;
    gap: 32px;
    background-color: #1F2937;
    justify-content: space-between;
    flex: 1;
    padding: 8px 0 32px;
    margin-bottom: 64px;
}

.top-side {
    display: flex;
    justify-content: space-around;
}


.bottom-side {
    display: flex;
    justify-content: space-around;
}

.description {
    width: 300px;
    margin: 0px;
}

.title {
    font-size: 42px;
    font-weight: bolder;
}

.description p {
    margin: 0px;
}

.placeholder-image {
    width: 300px;
    background-color: gray;
}

.information-block {
    background-color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 64px 0px;
    margin-bottom: 64px;
}

.information-content {
    display: flex;
    flex-flow: column nowrap;
    gap: 32px;
}

.information-content span {
    text-align: center;
    color: #1F2937;
    font-weight: bold;
}

.item-container {
    display: flex;
    flex-flow: row wrap;
    gap: 32px;
}

.item {
    height: 200px;
    width: 100px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.item span {
    margin-top: 8px;
    text-align: center;
    color: gray;
}

.rounded-box {
    width: 100px;
    height: 100px;
    border: 3px solid blue;
    border-radius: 16px;
}

.good-review {
    flex: 1;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 64px 8px;
    margin-bottom: 64px;
}

.review-content {
    width: 400px;
    display: flex;
    flex-flow: column nowrap;
}

.review-content p {
    color: #1F2937;
    margin-bottom: 8px;
}

.author {
    align-self: flex-end;
    color: black;
    margin-top: 8px;
}

.promotion {
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 64px 0px;
    margin-bottom: 64px;
}

.promotion-content {
    background-color: #3882f6;
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
}

.text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.text p {
    margin: 0px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 64px 0px;
    font-size: 16px;
}