body {
    display: flex;
    flex-flow: column nowrap;
    margin: 0px;
}

.header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: blueviolet;
    padding: 16px;
    padding-bottom: 64px;
}

.alignment-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 32px;
}

.links {
    display: flex;
    align-items: center;
}

.links h3 {
    flex: 1;
    margin: 0px;
}


.links ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    margin: 0px;
}

.description {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.left {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    width: 40%;
}

.left h1 {
    margin: 0px;
}

.left button {
    align-self: flex-start;
    padding: 8px 16px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    padding: 64px;
}
