* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --main-color: hsl(0, 0%, 65%);
    --second-color: hsl(0, 0%, 75%);
    --third-color: hsl(0, 0%, 85%);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

header {
    font-size: 2.2rem;
    font-weight: bold;
    padding: 24px;
    text-align: center;
    background-color: var(--main-color);
}

.main-content {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
}

.projects-sidebar {
    background-color: var(--second-color);
    padding: 16px;
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
}

#sidebar-title {
    text-align: center;
    font-size: 1.8rem;
}

.project {
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    gap: 4px;
    font-size: 1.6rem;
}

.project #title {
    flex: 1;
    font-size: inherit;
    padding: 8px;
}

.project #title:disabled {
    color: black;
    border: 0;
}

.project button {
    padding: 8px;
    font-size: inherit;
}

.todos-area {
    flex: 1;
    background-color: var(--third-color);
    padding: 16px;
    display: flex;
    flex-flow: column nowrap;
}

.todo {
    background-color: white;
    padding: 4px 16px;
    border-radius: 8px;
    font-size: 1.4rem;
    display: flex;
    gap: 12px;
    align-items: center;
    margin: 0px 16px;
}

.todo #done-check {
    transform: scale(2);
    margin: 0px 4px;
}

.todo #description {
    flex: 1;
}

.todo input,
.todo button,
.todo label {
    font-size: inherit;
    padding: 12px;
}

.todo input:disabled {
    color: black;
    border: 0;
}