body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

button {
    font-size: 32px;
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 4px;
}

.side-panel {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    gap: 32px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}


.canvas {
    width: 480px;
    height: 480px;
    border: 2px solid black;

    display: grid;
    user-select: none;
}