body {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    margin: 0px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 112px;
    position: relative;
}

.title > h1 {
    margin: 0px;
}

.content {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
}

.content > div {
    flex: 1;
}

.canvas-container {
    display: flex;
    align-items: center;
}

.canvas {
    width: 640px;
    height: 640px;
    border: 1px solid darkgray;
    display: grid;

    /* grid-template-columns: repeat(16, 1fr); */
    /* grid-template-rows: repeat(16, 1fr); */
}

.cell {
    border: 1px solid lightgray;
    user-select: none;
}

.side-panel {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

.button-container {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.color-buttons,
.canvas-buttons {
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
    padding-right: 32px;
    padding-left: 16px;
}

.side-panel button {
    font-size: 28px;
    padding: 6px;
    background-color: whitesmoke;
    border: 1px darkgray solid;
    border-radius: 4px;
}

.side-panel button:hover {
    background-color: darkgray;
    color: white;
}

