body {
    display: flex;
    flex-flow: column nowrap;
    margin: 0px;
}

.header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: lightblue;
    padding: 16px;
    padding-bottom: 64px;
}

.alignment-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 64px;
}

.links {
    display: flex;
    align-items: center;
}

.links h3 {
    flex: 1;
    margin: 0px;
}


.links ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    margin: 0px;
}

.description {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.left {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    width: 40%;
}

.left h1 {
    margin: 0px;
}

.left button {
    align-self: flex-start;
    padding: 8px 16px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 64px;
    border-radius: 8px;
}

.info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 16px;
    padding-bottom: 64px;
}

.info .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 48px;
}

.container .card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 8px;
}

.card .box {
    width: 96px;
    height: 96px;
    border: 3px solid lightblue;
    border-radius: 8px;
}

.card .text {
    text-align: center;
    width: 156px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 64px 32px;
}

.quote .container {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    flex: 0 1 720px;
}

.quote .text {
    font-size: 24px;

}

.quote .author {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.sign-up {
    display: flex;
    padding: 64px 16px;
    justify-content: center;
}

.sign-up .container {
    display: flex;
    justify-content: space-between;
    flex: 0 1 930px;
    gap: 32px;
    padding: 32px 64px;
    background-color: lightblue;
    border-radius: 8px;
}

.agitation .subtext {
    font-size: 12px;
}

.sign-up button {
    padding: 8px 16px;
}

.footer {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.footer div {
    font-size: 14px;
}
