* {
    font-family: monospace;
    font-size: 28px;
}

button {
    font-size: 32px;
    letter-spacing: 2px;
    line-height: 32px;
}

button:hover {
    filter: brightness(60%);
}

button:active {
    filter: brightness(90%);
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

h3 {
    text-align: center;
    color: darkorange;
}

.container {
    height: inherit;
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.add-area {
    display: flex;
    justify-content: space-between;
}

input {
    min-width: 0;
    font-size: 24px;
    border: 2px gray solid;
    border-radius: 4px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;
    margin-bottom: 16px;

    border: 0px;
    border-bottom: 2px;
    border-color: lightgray;
    border-style: groove;
}

li span {
    color: blue;
    word-wrap: break-word;
    max-width: 90%;
}

.remove {
    align-self: flex-start;
    text-align: center;
    background-color: transparent;
    color: red;
    border: 0px;
}

.add {
    text-align: center;
    background-color: transparent;
    color: blue;
    border: 0px;
}

#entered-task {
    flex: 1;
    margin-right: 8px;
}

.button-list {
    text-align: center;
    margin-bottom: 64px;
}

.numeration {
    font-size: 28px;
    background-color: transparent;
    color: darkorange;
    border: 0px;
}

.selected {
    color: red;
}