* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.header {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: bold;
    font-size: 40px;
    box-shadow: 0px 0px 4px gray;
    padding: 24px;
    padding-left: 64px;
    z-index: 1;
    position: relative;
}

.header img {
    width: 56px;
}

.library {
    background-color: rgb(240, 240, 240);
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

.library .add-button {
    margin: 28px;
    align-self: center;
    border: 0px;
    padding: 16px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 8px;
    background-color: rgb(230, 230, 230);
}

.library .add-button:hover,
.book button:hover,
.add-book-dialog button:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.library .book-cards {
    padding: 64px;
    padding-top: 0px;
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: center;
    gap: 48px;
}


.library .book,
.add-book-dialog form {
    display: flex;
    flex-flow: column nowrap;
    padding: 28px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 2px 2px 4px darkgray;
    max-width: fit-content;
    gap: 18px;
    font-size: 24px;
}

.book>span {
    display: flex;
    align-items: center;
    gap: 8px;
}

.book>span textarea {
    height: 1em;
    flex: 1;
    font-size: 1em;
    padding: 4px;
    font-weight: 500;
    resize: none;
    border-radius: 8px;
    border: 1px solid gray;
}

.book>span textarea:focus {
    outline: 2px solid rgb(85, 85, 255);
    border-color: transparent;
}

.book button,
.add-book-dialog button {
    border: 0px;
    padding: 12px;
    font-size: 0.9em;
    font-weight: 500;
    border-radius: 8px;
    background-color: rgb(230, 230, 230);
}

.book #read-status {
    background-color: rgb(255, 111, 111);
}

.book #read-status.have-read,
.add-book-dialog button[type="submit"] {
    background-color: rgb(111, 255, 111);
}

.book>span textarea:disabled {
    border-color: transparent;
    color: black;
}

.add-book-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: 1px solid black;
    border-radius: 12px;
}

.add-book-dialog::backdrop {
    backdrop-filter: blur(3px);
}

.add-book-dialog form {
    padding: 28px;
    gap: 22px;
    font-size: 28px;
}

.add-book-dialog input {
    font-size: 1em;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid gray;
}

.add-book-dialog label[for="read"] {
    text-align: center;
}

.add-book-dialog #read {
    transform: scale(2);
    translate: 0% -30%;
    margin-left: 8px;
}

.add-book-dialog input:focus {
    border-color: transparent;
}