body {
    display: flex;
    flex-flow: column nowrap;
    margin: 0px;
    height: 100vh;
}

.title,
.footer {
    display: flex;
    justify-content: center;
    padding: 16px;
    background-color: lightgray;
    font-size: 32px;
}

.content {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.container {
    padding: 16px;
    display: flex;
    gap: 16px;
    flex: 1;
    max-width: 1000px;
}

.container > div {
    flex: 4;
}

.container > #middle {
    flex: 1;
}

#middle {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    font-size: 24px;
}

#middle > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.left,
.right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: lightgray;
    border-radius: 8px;
    font-size: 24px;
}

.left > div,
.right > div {
    flex: 1;
    text-align: center;
    padding: 32px;
    border-bottom: 1px groove darkgray;
}

.left > div:last-child,
.right > div:last-child {
    border-bottom: none;
}

.display-human,
.display-computer {
    font-size: 60px;
}

button {
    font-size: 24px;
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 4px;
}

button:hover {
    background-color: darkgray;
    color: white;
}

